
<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
     Time Accounting List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- @if(accountingTimeimeList$ | async; as timeList){ -->
   <!-- @if(!timeList.isLoading){   -->
     <!-- @for (item of timeList.data; track item.id) { -->
       <ion-card>
         <ion-card-header>
             <ion-card-title> item.group.text </ion-card-title>
             <!-- <ion-card-title> {{item.group.text}} </ion-card-title> -->
         </ion-card-header>
     
         <ion-card-content>
             <p><strong>Type:</strong>item.type.text</p>
             <!-- <p><strong>Type:</strong> {{ item.type.text }}</p> -->
     
             <p><strong>Start time:</strong> item.startTime</p>
             <!-- <p><strong>Start time:</strong> {{ item.startTime }}</p> -->
     
             <p><strong>End Time:</strong> item.endTime </p>
             <!-- <p><strong>End Time:</strong> {{ item.endTime }}</p> -->
     
             <p><strong>Duration:</strong> item.duration </p>
             <!-- <p><strong>Duration:</strong> {{ item.duration }}</p> -->
         </ion-card-content>
     
         <ion-buttons class="button-container">
             <ion-button class="edit-time-entry" color="primary">
                 <ion-icon name="pencil-outline"></ion-icon>
             </ion-button>
             <ion-button class="edit-time-entry-red" color="danger">
                 <ion-icon name="trash-outline"></ion-icon>
             </ion-button>
         </ion-buttons>
     </ion-card>
     
     <!-- } -->
    <!-- }@else {
      <ion-spinner class="ion-text-center"></ion-spinner>
    } -->
  <!-- } -->
</ion-content>
